.elementor-2263 .elementor-element.elementor-element-3a22912>.elementor-container {
    max-width: 1003px;
}

.elementor-2263 .elementor-element.elementor-element-3a22912 {
    padding: 0px 0px 0px 0px;
}

.elementor-2263 .elementor-element.elementor-element-deae692:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2263 .elementor-element.elementor-element-deae692>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-2263 .elementor-element.elementor-element-deae692>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 20px 50px 20px;
}

.elementor-2263 .elementor-element.elementor-element-deae692>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2263 .elementor-element.elementor-element-12e0e9e:not(.elementor-motion-effects-element-type-background),
.elementor-2263 .elementor-element.elementor-element-12e0e9e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #EE7C00;
}

.elementor-2263 .elementor-element.elementor-element-12e0e9e {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 18px 18px 18px 18px;
}

.elementor-2263 .elementor-element.elementor-element-12e0e9e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2263 .elementor-element.elementor-element-ba4e2e4 {
    text-align: center;
}

.elementor-2263 .elementor-element.elementor-element-ba4e2e4 .elementor-heading-title {
    color: #000000;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 41px;
    font-weight: 600;
    line-height: 54px;
}

.elementor-2263 .elementor-element.elementor-element-0545146 {
    text-align: center;
}

.elementor-2263 .elementor-element.elementor-element-0545146 .elementor-heading-title {
    color: #030303;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.elementor-2263 .elementor-element.elementor-element-b6ef041 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-2263 .elementor-element.elementor-element-b6ef041 .elementor-divider-separator {
    width: 100%;
}

.elementor-2263 .elementor-element.elementor-element-b6ef041 .elementor-divider {
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-2263 .elementor-element.elementor-element-0665afd {
    text-align: center;
}

.elementor-2263 .elementor-element.elementor-element-0665afd .elementor-heading-title {
    color: #000000;
    font-family: "Josefin Sans", Sans-serif;
    font-weight: 600;
}

.elementor-2263 .elementor-element.elementor-element-7e2e200 img {
    width: 96%;
}

.elementor-2263 .elementor-element.elementor-element-8697f00 {
    color: #000000;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.elementor-2263 .elementor-element.elementor-element-c7cb357 {
    color: #111111;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-2263 .elementor-element.elementor-element-d1ed0f0 {
    text-align: center;
}

.elementor-2263 .elementor-element.elementor-element-d1ed0f0 .elementor-heading-title {
    color: #000000;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.elementor-2263 .elementor-element.elementor-element-8770ad0 {
    color: #000000;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 21px;
    font-weight: 400;
}

.elementor-2263 .elementor-element.elementor-element-c6b4852 {
    color: #111111;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.elementor-2263 .elementor-element.elementor-element-767d466 .elementor-button {
    font-family: "Josefin Sans", Sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 36px;
    fill: #000000;
    color: #000000;
    background-color: #EE7C00;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #030303;
    border-radius: 1px 1px 1px 1px;
    padding: 18px 95px 18px 95px;
}

@media(min-width:768px) {
    .elementor-2263 .elementor-element.elementor-element-7bdde6b {
        width: 36.604%;
    }
    .elementor-2263 .elementor-element.elementor-element-fc19fd0 {
        width: 63.396%;
    }
    .elementor-2263 .elementor-element.elementor-element-505c80c {
        width: 28.816%;
    }
    .elementor-2263 .elementor-element.elementor-element-d6cc5c0 {
        width: 71.184%;
    }
}

@media(max-width:767px) {
    .elementor-2263 .elementor-element.elementor-element-3a22912 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2263 .elementor-element.elementor-element-deae692>.elementor-element-populated {
        padding: 40px 20px 40px 20px;
    }
    .elementor-2263 .elementor-element.elementor-element-ba4e2e4 .elementor-heading-title {
        font-size: 20px;
        line-height: 1.6em;
    }
    .elementor-2263 .elementor-element.elementor-element-c7cb357 {
        font-size: 22px;
    }
    .elementor-2263 .elementor-element.elementor-element-c6b4852 {
        font-size: 22px;
    }
    .elementor-2263 .elementor-element.elementor-element-767d466 .elementor-button {
        font-size: 20px;
        line-height: 1.3em;
        padding: 12px 8px 13px 8px;
    }
}